body {
  background-color: #e1e1e1;
  margin: 0;
  padding: 0;
}

md-card,
md-toolbar {
  margin-bottom: 20px;
}

h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
