<div class="app-component">
    <md-toolbar [color]="primary">
        <span>My Application Title</span>
        <button md-icon-button [md-menu-trigger-for]="menu">
            <md-icon>more_vert</md-icon>
        </button>
        <md-menu #menu="mdMenu">
            <button md-menu-item> Refresh </button>
            <button md-menu-item> Settings </button>
            <button md-menu-item> Help </button>
            <button md-menu-item disabled> Sign Out </button>
        </md-menu>
    </md-toolbar>
    <md-card>
        <button md-button>Flat</button>
        <button md-raised-button>Flat</button>
    </md-card>
    <md-card>
        <button md-icon-button>
            <md-icon class="md-24">favorites</md-icon>
        </button>
        <button md-fab>
            <md-icon class="md-24">add</md-icon>
        </button>
        <button md-mini-fab>
            <md-icon class="md-24">add</md-icon>
        </button>
    </md-card>
    <md-card>
       <md-input placeholder="name" align="end">
            <span md-prefix>$&nbsp;</span>
            <span md-suffix>.00</span>
        </md-input>
   </md-card>
    <md-card>
        <md-radio-group>
            <md-radio-button value="option_1">Value</md-radio-button>
            <md-radio-button value="option_2">Venelin</md-radio-button>
        </md-radio-group>
    </md-card>
    <md-card>
        <md-tab-group>
            <md-tab>
                <template md-tab-label>One</template>
                <template md-tab-content>
                <h1>Some tab content</h1>
                <p>...</p>
                </template>
            </md-tab>
            <md-tab>
                <template md-tab-label>Two</template>
                <template md-tab-content>
                <h1>Some more tab content</h1>
                <p>...</p>
                </template>
            </md-tab>
        </md-tab-group>
    </md-card>
</div>